@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px; /* Exemplo de 70px para o header */
}

body {
    background-image: radial-gradient( #5627c1, #9072d4, white );
    background-position: center top;
}

h1, h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
}

p, a, span {
    color: white;
    font-family: "Open Sans", sans-serif;
}

/* HEADER */

header {
    background-color: #0e0e0e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

header h1 {
    color: #9072d4;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
}

nav ul a:hover {
    color: #8f72d4bd;
}

/* SECAO HERO */

.section-hero {
    background: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 48px 64px;
    min-height: 70vh;
}

.section-hero h2 {
    color: white;
    font-size: 2.5em;
}

.section-hero h3 {
    color: #9072d4;
    font-size: 2rem;
}

.section-hero p {
    font-size: 1.1rem;
    font-weight: 500;
}

.text-hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.text-hero .button-hero {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.text-hero a {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background: white;
    color: #131313;
    border: 4px solid #c4c4c4;
    border-radius: 8px;
    width: max-content;
    text-decoration: none;
    font-weight: 600;
}

.text-hero a:hover {
    background: #bbbbbb;
    color: #383838;
    border: 4px solid #a1a1a1;
}

.img-hero {
    display: flex;
    background: #5627c1;
    border: 5px solid #9072d4;
    border-radius: 10px;
    padding: 10px;
    width: 450px;
    height: 450px;
}

.sobre-img-hero {
    border: 10px solid #151515;
    border-radius: 20px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
}

.img {
    background-image: url(assets/pixel-art-mateus-400px.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 10px;
    border-radius: 50%;
    border: 5px solid #c4c4c4;
}

/* SECAO PROJETOS */

.section-projetos {
    background: #151515;
    padding: 48px 48px 104px 48px;
    margin-bottom: 1px;
}

.section-projetos h2 {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 44px;
}

.container-section-projetos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.section-projetos-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 350px;
    background: #131313;
    border: 4px solid #9072d4;
    border-radius: 8px;
}

.section-projetos-card h3 {
    color: #9072d4;
}

.section-projetos-card p {
    color: white;
    font-size: 1.05rem;
    padding: 0px 24px 4px 24px;
}

.section-projetos-box-img {
    width: 100%;
}

.section-projetos-img {
    background-image: url(assets/projeto-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1 / 1;
}

#projeto1 {
    background: url(assets/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-projetos {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.button-projetos a {
    background: white;
    color: black;
    border: 4px solid #c4c4c4;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    text-decoration: none;
    font-weight: 600;
}

.button-projetos a:hover {
    background: #bbbbbb;
    color: #383838;
    border: 4px solid #a1a1a1;
}

/* SECAO SOBRE */

.section-sobre {
    background: #151515;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 48px 64px;
}

.text-sobre {
    margin-bottom: 60px;
    width: 40%;
}

.text-sobre h2 {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 40px;
}

.text-sobre p {
    font-size: 1.05rem;
    line-height: 1.5rem;   
}

.tecno-sobre {
    display: flex;
    align-items: end;
    gap: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.tecno-sobre h3 {
    color: #9072d4;
    font-size: 2rem;
    margin-bottom: 40px;
}

.tecno-sobre p {
    font-weight: 600;
}

.tecno-sobre svg {
    fill: #5627c1;
}



/* SECAO-CONTATO */

.section-contato {
    background: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 48px 48px 104px 48px;
}

.text-contato {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-contato h2 {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
}

.text-contato h3 {
    color: #9072d4;
    font-size: 2rem;
}

.text-contato p {
    font-size: 1.05rem;
}

.link-contato {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.link-contato a  {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}

.link-contato a:hover {
    color: #9072d4;
}

.link-contato .svg-contato {
    fill: #9072d4;
}

#btnCopiar {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    border: 4px solid #c4c4c4;
    border-radius: 8px;
}

#btnCopiar:hover {
    cursor: pointer;
    background: #bbbbbb;
    color: #383838;
    border: 4px solid #a1a1a1;
}

#btnCopiar span {
    font-size: 1.05rem;
    font-weight: 600;
    color: #131313;
}

/* FOOTER */

footer {
    color: white;
    background: #0e0e0e;
    padding: 48px 64px 0px 64px;
}

footer h3 {
    color: #9072d4;
}

footer ul {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
}

footer a:hover {
    color: #8f72d4bd;
}

footer ul li {
    margin-top: 15px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin-bottom: 48px;
}

.link-footer {
    display: flex;
    flex-direction: column;
}

.link-footer h4 {
    color: #5627c1;
}

.projetos-footer {
    display: flex;
    flex-direction: column;
}

.projetos-footer h4 {
    color: #5627c1;
}

.footer-bottom {
    font-size: 0.9rem;
    text-align: center;
    border-top: 1px solid #383838;
    padding: 28px;
}

.footer-bottom p {
    color: #c4c4c4;
}

/* RESPONSIVIDADE */

@media (max-width: 1280px) {
    .section-sobre {
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }

    .text-sobre {
        width: 75%;
    }
}

@media (max-width: 1024px) {
    .section-hero {
        flex-direction: column-reverse;
        gap: 50px;
        padding: 48px 32px;
    }

    .text-hero {
        align-items: center;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 900px) {
    .section-projetos-card {
        width: 450px;
    }
}

@media (max-width: 800px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .text-sobre {
        width: 100%;
    }

    .tecno-sobre {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .tecno-sobre h3 {
        margin-bottom: 20px;
    }

    .section-contato {
        flex-direction: column;
        gap: 50px;
    }

    .text-contato {
        text-align: center;
    }
}

